header {
    text-align: center;
    background-color: #ddd;
    }
body {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    text-align: center;
}
main{
    margin-top:50px;
    margin-left:100px ;
    margin-right: 100px;
    font-size: 15px;
}

.item-detail {
    font-weight: bold;
    font-style: italic;
}
footer{
    text-align: center;
    background-color: #1f497d;
    color: #ddd;
}
ul li{
    text-align:left;
}
dl dd{
    text-align: left;
}
dl dt{
    text-align: left;
}

.imginstalink {
    position:relative;
    top: 4px;
    width: 20px;
    height: 20px;
}

.imglinkedinlink {
    position:relative;
    top: 4px;
    width: 20px;
    height: 20px;
}
h1,h2{
    font-family: Cambria, Times, serif;
    background-color: #bfbfbf;
    letter-spacing: 0.5em;
   
    length: 2000px;
}

h1{
    color: #1f497d;
}
h2{
    color: #632423;
    text-align: left;
}