footer{
    width: cover;
    height: 61px;
    left: -3px;
    top: 1055px;
    background: #00669F;
}

.pie{
    width: 337.7px;
    height: 19px;
    left: 549.15px;
    top: 1076px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #FFF9F9;
    margin: auto;
    padding-top: 21px;
}
