body{
    width: 100%;
}
.descuento{
    background-color: #1CD1B0;
    font-family: 'Roboto', sans-serif;
    width: cover;
    padding-left: 20px;
    font-size: 15px;
    padding-top: 2px;
    font-weight: 400;
}
header{
    position: sticky;
}
h1{
    padding-left: 10px;
    background-color: #00669F;
    width: cover;;
    margin: 0px;
    position: relative;
}
.nombretienda {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    margin: 0px;
    padding-left: 20px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
    padding-top: 27px;
}
.contactobox{
    padding: 229px 410px 253px 410px;
    margin: auto;
    width: fit-content;
}
.Contacto{
        font-family: 'Inter', sans-serif;
        font-size: 72px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
        color: #333333;
}
input[type=text], input[type=email]{
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    width: 620;
    padding-left: 28px;
} 

#NombreYApellido, #CorreoElectronico{
    width: 592px;
    height: 60px;
    left: 410px;
    top: 540px;
    border: 1.53407px solid #000000;
    margin-bottom:20px; 
}
#textarea{
    width: 620px;
    height: 251px;
    left: 410px;
    top: 511px;
    background: #FFFFFF;
    border: 1.53407px solid #000000;
    margin-bottom: 47px;
}
.resetear{
    width: 300px;
    height: 53.79px;
    background: #888888;
    border-radius: 23.011px;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 10px;
}
.enviar{
    width: 300px;
    height: 53.79px;
    background: #1CD1B0;
    border-radius: 23.011px;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    margin-left:10px ;
}

footer{
    width: cover;
    height: 61px;
    left: -3px;
    top: 1055px;
    background: #00669F;
}

.pie{
    width: 337.7px;
    height: 19px;
    left: 549.15px;
    top: 1076px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #FFF9F9;
    margin: auto;
    padding-top: 21px;
}